@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  /* Kelas untuk edge yang ingin di-animate */
  .edge-dash path {
    stroke-dasharray: 6 6;       /* pola dash: 6px garis, 6px jarak */
    animation: dash-move 1s linear infinite;
  }
}

@keyframes dash-move {
  /* menggerakkan dash ke kiri */
  to {
    stroke-dashoffset: -12;
  }
}
